spring:
  #Driver configurations
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://35.200.209.29:5432/postgres
    username: postgres
    password: mmdb@1234
    #Bucket Configurations
  cloud:
    gcp:
      bucket:
        name: mindful_mountain_business
        prefix_url: https://storage.googleapis.com/%s/%s
        template: queries/template/query.html
        invoice: queries/invoice/
      project-id: gothic-augury-439121-p8