spring:
  #Driver configurations
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://35.200.209.29:5432/postgres
    username: postgres
    password: mmdb@1234

server:
  port: ${PORT:8080}
  address: 0.0.0.0