spring:
  #Driver configurations
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://35.200.209.29:5432/postgres
    username: postgres
    password: mmdb@1234

  # JPA configurations -
  # DDL Auto enablement gives power hibernate to Automatically update the database schema based on the entity mappings.
  # We have added liquibase hence its job to update tables now
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  liquibase:
    enabled: true
  cloud:
    gcp:
      bucket:
        name: mindful_mountain_business
      project-id: gothic-augury-439121-p8
      storage:
        credentials:
          #location: classpath:gcp-key.json
          #location: ${{ secrets.GCP_SA_KEY }}
      #bucket details
server:
  port: ${PORT:8080}
  address: 0.0.0.0

