<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body { font-family: Arial; }
        .header { text-align: center; }
        .logo { width: 150px; }
        table { width:100%; border-collapse: collapse; }
        th, td { border:1px solid black; padding:8px; }
        th { background:#f2f2f2; }
    </style>
</head>
<body>

<div class="header">
    <img src="classpath:logo.png" class="logo"/>
    <h2>Query Intenary</h2>
</div>

<p><b>Customer:</b> <span th:text="${invoice.customerName}"></span></p>
<p><b>Email:</b> <span th:text="${invoice.address}"></span></p>
<p><b>Contact Number</b> <span th:text="${invoice.invoiceDate}"></span></p>

<table>
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.productName}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.quantity * item.price}"></td>
    </tr>
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.productName}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.quantity * item.price}"></td>
    </tr>
</table>

<h3>Total: ₹ <span th:text="${invoice.totalAmount}"></span></h3>

</body>
</html>
