jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest
    # Define job-level env variables to ensure consistency
    env:
      IMAGE_NAME: mindful-mountain-business
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      - name: Build and Push Docker Image
        # We construct the full path here using the env variables defined above
        run: |
          FULL_IMAGE_PATH="gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:latest"
          docker build -t $FULL_IMAGE_PATH .
          docker push $FULL_IMAGE_PATH

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:latest \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated \
            --memory 1Gi \
            --cpu 1 \
            --timeout 300